/* Remove the standard margin/padding of the html body */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.menu .banner {
    background-color: black;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
}

.menu .banner img {
    width: 80px;
}

.menu .wrapper {
    max-width: flex;
    margin: auto;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
}

.menu .row .link {
    flex-basis: 100px;
    flex-shrink: o;
    flex-grow: 1;
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #a3cfd6;
    color: black;
    text-decoration: none;
    font-size: 16x;
    text-align: center;
}

/*__________________________________________________________________*/

.title {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.row .link:hover {
    background-color: white;
    color: black;
}

.top-image-container {
    display: flex;
    width: 100%;
    justify-content: stretch;
    text-align: left;
}

.top-image {
    flex-wrap: nowrap;
    flex: 1 1 0%;
    flex-flow: center;
    margin: auto;
}

.top-image img {
    height: 170px;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.home-textbox-container {
    display: flex;
}

.home-textbox-item {
    flex-flow: center;
    margin: 30px;
}

.home-textbox-item p {
    text-align: justify;
}

.kontakt-place-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.kontakt-place-item {
    flex-flow: center;
    margin: 30px;
}

.kontakt-message-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.comment-input input {
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
}

.home {
    /*width: 500px;*/
    margin: auto;
    text-align: center;
}

.home .Angebot {
    margin: 50px;
}

.home .homebild {
    display: flex;
    margin: auto;
    flex-basis: 100px;
    flex-shrink: o;
    flex-grow: 1;
    border: 1px solid white;
}

/*_______________________________________________________*/

.flex-container {
    display: flex;
}

.opening-hours td {}

.flex-item {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.flex-item img {
    width: 150px;
}

.flex-item .table {
    width: 250px;
}

/*___________________________________________________________*/

.footer {
    background-color: #a3cfd6;
    text-align: center;
    color: #35394c;
    padding-top: 5px;
    padding-bottom: 5px;
}